In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv('./bank_clean.csv')

In [3]:
df.head(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campagin,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,ordinary_employee,married,pre_uni,no,no,no,telephone,may,mon,261.0,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,ordinary_employee,married,pre_uni,other,no,no,telephone,may,mon,149.0,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df.shape

(38225, 20)

In [5]:
df.describe()

,age,duration,campagin,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
count,38225.000000,38225.000000,38225.000000,38225.000000,38225.000000,38225.000000,38225.000000,38225.000000,38225.000000
mean,40.049523,203.254833,2.575409,0.173185,0.081808,93.574272,-40.480691,3.622745,5167.129999
std,10.425365,141.017158,2.810058,0.494516,1.571785,0.579753,4.632177,1.733708,72.080977
min,17.000000,0.000000,1.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,97.000000,1.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,167.000000,2.000000,0.000000,1.100000,93.444000,-41.800000,4.857000,5191.000000
75%,47.000000,277.000000,3.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,644.000000,56.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [6]:
df_features = df.drop('y', axis = 1)

In [8]:
df_label = df[['y']]

In [42]:
df_features_category = df_features.select_dtypes(exclude=[np.number])

df_features_numeric = df_features.select_dtypes(include=[np.number])

df_features_numeric.head(3)

In [25]:
for cate in df_features_category:
    df_one = pd.get_dummies(df_features[cate], prefix = cate)
    df_features.drop([cate], axis = 1, inplace = True)
    df_features = pd.concat((df_features, df_one), axis = 1)

df_features.shape

In [ ]:
#Standardization for numerical data
scaler = preprocessing.StandardScaler()

df_scale = scaler.fit_transform(df_features)

df_features_scale = pd.DataFrame(df_scale, index = df_features.index, columns = df_features.columns)

df_features_scale.head(2)

In [11]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(df_features, df_label, test_size = .3, random_state = 2019)

In [53]:
x1_train,x1_test,y1_train,y1_test = train_test_split(df_features_scale, df_label, test_size = 0.3, random_state = 2019)

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
model = KNeighborsClassifier()
model.fit(x_train, y_train)
y_test['pred'] = model.predict(x_test)

C:\Users\Thinkpad\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Thinkpad\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [33]:
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(y_test['y'], y_test['pred'])

0.9282350889431461

In [45]:
balanced_accuracy_score(y_test['y'], y_test['pred'])

0.6992457026187981

In [57]:
model.fit(x1_train, y1_train)

C:\Users\Thinkpad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [59]:
y1_pred_knn = model.predict(x1_test)

In [62]:
accuracy_score(y1_test['y'], y1_pred_knn)

0.925531914893617

In [61]:
balanced_accuracy_score(y1_test['y'], y1_pred_knn)

0.6757121213397305

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
lr = LogisticRegression(C = 1.0, penalty = 'l2', multi_class='ovr')

In [39]:
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

C:\Users\Thinkpad\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Thinkpad\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [40]:
accuracy_score(y_test['y'], y_pred)

0.9348622253226369

In [43]:
from sklearn.metrics import balanced_accuracy_score

In [44]:
balanced_accuracy_score(y_test['y'], y_pred)

0.6988333262108463

In [54]:
lr.fit(x1_train, y1_train)
y1_pred = lr.predict(x1_test)

C:\Users\Thinkpad\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Thinkpad\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [55]:
accuracy_score(y1_test['y'], y1_pred)

0.9373038018835019

In [56]:
balanced_accuracy_score(y1_test['y'], y1_pred)

0.7106906556192212

In [71]:
df_merge = pd.concat([df_features,df_label], axis = 1)

In [76]:
df_merge.to_csv('df_merge.csv', index = False)

In [73]:
df_scale_merge = pd.concat([df_features_scale,df_label], axis = 1)

In [75]:
df_scale_merge.to_csv('df_scale_merge.csv', index = False)